<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.shisui.goods.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.su.shisui.goods.common.po.Goods">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CREATE_BY" property="createBy" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_IP" property="createIp" jdbcType="VARCHAR"/>
        <result column="MODIFY_BY" property="modifyBy" jdbcType="INTEGER"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFY_IP" property="modifyIp" jdbcType="VARCHAR"/>
        <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,`NAME`,MODIFY_BY,MODIFY_TIME,CREATE_BY,CREATE_TIME,CREATE_IP,MODIFY_IP,IS_DELETED
    </sql>

    <select id="findGoodsList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
        where IS_DELETED = 0
        order by CREATE_TIME desc
    </select>
</mapper>