<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.shisui.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.su.shisui.auth.common.po.User">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="CREATE_BY" property="createBy" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_IP" property="createIp" jdbcType="VARCHAR"/>
        <result column="MODIFY_BY" property="modifyBy" jdbcType="INTEGER"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFY_IP" property="modifyIp" jdbcType="VARCHAR"/>
        <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,`USER_NAME`,PASSWORD,MODIFY_BY,MODIFY_TIME,CREATE_BY,CREATE_TIME,CREATE_IP,MODIFY_IP,IS_DELETED
    </sql>

    <select id="findUser" parameterType="com.su.shisui.auth.common.po.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where IS_DELETED = 0
        <if test="id != null and id != ''">
            and ID = #{id}
        </if>
        <if test="userName != null and userName != ''">
            and USER_NAME = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != ''">
            and PASSWORD = #{password,jdbcType=VARCHAR}
        </if>
        order by CREATE_TIME desc
    </select>
</mapper>